<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Welcome to Statico!</title>
     {% load staticfiles %}
    <!-- Bootstrap Core CSS -->
    <link href="/static/polls/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/polls/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="/static/polls/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/polls/css/stylish-portfolio.min.css" rel="stylesheet">

  </head>

  <body id="page-top">
    <!-- Navigation -->
    <a class="menu-toggle rounded" href="#">
      <i class="fa fa-bars"></i>
    </a>
    <nav id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <a class="js-scroll-trigger" href="#page-top">Statico Menu</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="/">Home</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="/login">Sign In</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="/reg">Sign Up</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#contact">Contact</a>
        </li>
      </ul>
    </nav>

    <!-- Header -->
    <header class="masthead d-flex">
      <div class="container text-center my-auto">
        <h1 class="mb-1">Welcome to Statico</h1>
        <h3 class="mb-5">
          <em>A Place Where Your Opinion Does Matter</em>
        </h3>
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="/login">Login</a>
        <h6 class="mb-1">
          OR
        </h6>
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="/reg">Register a new account</a>
        <h4 class="mb-1">
          To Start Using Our Service
        </h6>
      </div>
      <div class="overlay"></div>
    </header>


    <!-- Call to Action 
    <section class="content-section bg-primary text-white">
      <div class="container text-center">
        <h2 class="mb-4">The buttons below are impossible to resist...</h2>
        <a href="#" class="btn btn-xl btn-light mr-4">Click Me!</a>
        <a href="#" class="btn btn-xl btn-dark">Look at Me!</a>
      </div>
    </section>-->
    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <!--<ul class="list-inline mb-5">
          <li class="list-inline-item">
            <a class="social-link rounded-circle text-white mr-3" href="#">
              <i class="icon-social-facebook"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="social-link rounded-circle text-white mr-3" href="#">
              <i class="icon-social-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="social-link rounded-circle text-white" href="#">
              <i class="icon-social-github"></i>
            </a>
          </li>
        </ul>-->
        <p class="m-0 text-center text-white">Copyright &copy; Statico 2018</p>
      </div>
    </footer>

    <!-- Scroll to Top Button
    <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>-->

    <!-- Bootstrap core JavaScript -->
    <script src="/static/polls/vendor/jquery/jquery.min.js"></script>
    <script src="/static/polls/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/static/polls/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/static/polls/js/stylish-portfolio.min.js"></script>

  </body>

</html>
